databases:
  - name: group-dashboard-db
    databaseName: groupdashboard
    region: frankfurt
    plan: free

services:
  - type: web
    name: group-dashboard
    runtime: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 20
      - key: DATABASE_URL
        fromDatabase:
          name: group-dashboard-db
          property: connectionString
    healthCheckPath: /
    autoDeploy: true
    branch: main
